<div class="sf-column{% if enable_slider %} swiper-slide{% endif %}">
    <div class="collection-card collection-card--{{ card_style }}{% if hover_effect != 'none' %} collection-card--hover-{{ hover_effect }}{% endif %}">
        <div class="collection-card__inner{% if card_style == 'boxed'  %} h-full bg-white py-6 md:py-8 px-4 md:px-9{% endif %}">
            {% if card_style == 'boxed'  %}
                <h3 class="hover:underline mb-4 block text-{{ text_alignment }}">
                    <a class="text-sm md:text-xl font-medium text-black not-change" href="{{ collection.url }}">
                        {{ collection.title | default: default_label | upcase }}
                    </a>
                </h3>
            {% endif %}
            {% assign aspect_ratio = image.aspect_ratio %}
            {% if image_rounded %}
                {% assign aspect_ratio = 1 %}
            {% endif %}
            <a href="{{ collection.url | default: "#" }}" class="collection-card__image block overflow-hidden w-full{% if image_rounded %} collection-card__image-rounded rounded-full{% endif %}">
                {% if image != blank %}
                    {% render 'responsive-image',
                            image: image,
                            image_class: 'w-full',
                            aspect_ratio: aspect_ratio
                    %}
                {% else %}
                    <div style="--aspect-ratio: 1/1;">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'collection-' | append: current | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full w-full h-full object-cover' }}
                    </div>
                {% endif %}
            </a>
            <div class="collection-card__info md:mt-5 mt-2.5 text-{{ text_alignment }}">
                {% comment %} if card_style == 'standard' or card_style == 'inside'  {% endcomment %}
                {% if card_style == 'standard' %}
                    <h3>
                        <a class="{% if card_style == 'inside' %}text-black {% endif %}text-lg md:text-xl font-medium block" href="{{ collection.url | default: "#" }}">
                            {{ title | default: collection.title }}
                            {% if show_product_count == true and card_style == 'standard' and section.settings.count_inline_title == true %}
                                <sup class="font-semibold text-xs">{{ collection.all_products_count }}</sup>
                            {% endif %}
                        </a>
                    </h3>
                    {% if show_product_count == true and card_style == 'standard' and section.settings.count_inline_title == false %}
                        <p class="text-base not-change text-color-subtext">{{ 'collections.general.collection_items' |  t : title: collection.all_products_count }}</p>
                    {% endif %}
                    {% if show_product_count == true and card_style == 'inside' %}
                        <p class="mt-4 text-base not-change text-color-subtext">{{ 'collections.general.collection_items' |  t : title: collection.all_products_count }}</p>
                    {% endif %}
                {% endif %}
                {% if card_style == 'inside' %}
                    {% comment %} <a class="sf__btn sf__btn-white btn w-[45px] h-[45px] justify-center items-center" href="{{ collection.url }}">
                        
                    </a> {% endcomment %}
                    <a href="{{ collection.url }}" class="sf__btn sf__btn-primary sf__btn-large">{{ title | default: collection.title }}</a>
                {% endif %}
                {% if show_product_count == true and card_style == 'boxed' %}
                    <p class="mt-4 text-base not-change text-color-subtext text-{{ text_alignment }}">{{ 'collections.general.collection_items' |  t : title: collection.all_products_count }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
