<!doctype html>
<html
    class="no-js supports-no-cookies"
    lang="{{ shop.locale }}"
    style="--sf-page-opacity: 0;"
>

<head>
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_,B,N){function O(U,T,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET",U,!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):N[B]=R):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),W},E.ch=W,B="configSecurityConfModel",N[B]=1,O("//conf.config-security.com/model",0),O("//triplewhale-pixel.web.app/triplefw.txt?",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin/>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="dns-prefetch" href="{{ canonical_url }}" crossorigin>
    <link rel="dns-prefetch" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="{{ canonical_url }}" crossorigin>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'app.min.js' | asset_url }}">
	{%- if settings.favicon != blank -%}
	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{%- endif -%}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {% render 'social-meta-tags' %}
    {% render 'font-face' %}
    {% render 'critical-css' %}
    {% render 'critical-scripts' %}
    {% render 'style-tags' %}
    {% render 'custom-code-head' %}
    
    {{ content_for_header }}
    {% style %}
      .sf__newsleter-form  input {
        margin: 0;
      }
    {% endstyle %}
</head>
<body
    class="template-{{ template.name | handle }} relative min-h-screen"
>
    <div class="hidden">{% section 'header' %}</div>
    <main role="main" id="MainContent" style="padding-top: 0 !important;">
        {{ content_for_layout }}
    </main>
    {% render 'custom-code-body' %}
    {% render 'foxkit-messenger' %}
    {% render 'script-tags' %}
</body>
</html>
