{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<!doctype html>
<html
  class="no-js supports-no-cookies"
  lang="{{ request.locale.iso_code }}"
  style="--sf-page-opacity: 0;"
  data-template="{{ template.name }}"
  {% if enable_rtl %}dir="rtl"{% endif %}
>
<head>
<script type="text/javascript" data-squaredance="mL1B9tkpAXkjmoQntiHKd9Ki3qoF_qjiw7f0r5mIBZMQUcaqGU5fT6w6Ya8IEOVb" data-sqdv="1.0.1">
try{squaredanceCart={{cart.items|json}}}catch(e){}
;!function(j,u,m,b,l,e){var n="jumbleberry",i="3.2.1",o=function(){o.v==i&&o.e?o.e.apply(o,arguments):o.q.push(arguments)}
,a=encodeURIComponent,t=decodeURIComponent,d=j.location;(o.push=o).l=!1,o.q=[],o.v=i,o.duid=function(n){return(
n=n&&u.cookie.match(RegExp(t("%5Cb")+n.substr(0,21)+"id=([^;]+)")))?t(n[1].split(".")[0]):""},o.g=function(n,i){return!!(
i=RegExp("^[^#]*[?&]"+n+"=([^&#]+)").exec(i||d.href))&&t(i[1].replace(/\+/g," "))},o.s=function(n){for(var i=Math.round((
new Date).getTime()/1e3),t=d.hostname.split("."),r=t.length-1;0<r--&&/^(([a-z0-9]{4}-?){8}|[0-9]+)$/i.test(n)&&n!=o.duid(
o.p);)u.cookie=o.p.substr(0,21)+"id="+a(n)+"."+i+".0."+i+".; path=/; max-age=63072000; domain=."+t.slice(r,t.length
).join(".")},o.i=function(n,i,t){if("init"==n)return[o.u=o.duid(o.p=i),o.s(o.h=t||o.u)];t=t||{},(n=u.createElement(
"iframe")).src=o.d+o.p+"?hid="+a(o.h)+"&uid="+a(o.u)+"&event="+a(i||"")+"&transid="+a(t.transaction_id||"")+"&oi="+a(
t.order_index||"")+"&ctx="+a(JSON.stringify(t)),n.height=n.width=0,n.style="display:none;visibility:hidden",
n.sandbox="allow-forms allow-same-origin allow-scripts",n.referrerPolicy="unsafe-url",(u.body||u.head).appendChild(n)},
o.m=o.e=function(){var n,i;!j._RNGSeed&&o.i.apply(o,arguments)&&(n=u.createElement(m),i=u.getElementsByTagName(m)[0],
n.src=o.d+o.p+"?hid="+a(o.h)+"&uid="+a(o.u)+"&v="+o.v,n.async=!!o.h,o.e=!1,o.q.unshift(arguments),j.addEventListener(
"beforeunload",n.onerror=function(){o.e=o.i;for(var n=0;n<o.q.length;++n)o.apply(o,o.q[n]);o.q=[]}),
i.parentNode.insertBefore(n,i))},j[n]=j[n]||o,j[n].d=b}(window,document,"script","https://www.maxepv.com/");

jumbleberry("init", "mL1B9tkpAXkjmoQntiHKd9Ki3qoF_qjiw7f0r5mIBZPR9et1CjjUi5k9YLTRXLYx248phDN-0TgHyY6XxE-XkB1CASM7yJK-zlt-_3XNRSA~", jumbleberry.g("sqdid") || jumbleberry.g("click_id"));
</script>
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_,B,N){function O(U,T,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET",U,!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):N[B]=R):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),W},E.ch=W,B="configSecurityConfModel",N[B]=1,O("//conf.config-security.com/model",0),O("//triplewhale-pixel.web.app/triplefw.txt?",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin/>{% render 'pagefly-head' %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

{{ 'slick.min.css' | asset_url | stylesheet_tag }} 
  
  {% render 'preload' %}
  {% render 'SEO' %}
  {% render 'social-meta-tags' %}
  {% render 'font-face' %}
  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {% comment %} {% render 'content_for_header' %} {% endcomment %}
  {{ content_for_header }}
  <script src="{{ 'QQ-ComparisonTable.min.js' | asset_url }}" defer></script>
<link rel="preload" href="{{ 'design-pack-styles.css' | asset_url }}" as="style">
{{ 'design-pack-styles.css' | asset_url | stylesheet_tag }} 
<link rel="preload" href="{{ 'slick.min.css' | asset_url }}" as="style">
<script id="sg-js-global-vars">
                        sgGlobalVars = {{ shop.metafields['sg-cc']['sg-metafield'] }};
                        if(sgGlobalVars) {
                            sgGlobalVars.cart = {{ cart | json }};
                            sgGlobalVars.currentProduct = {{ product | json }};
                            sgGlobalVars.isAdmin = {% if content_for_header contains 'adminBarInjector' or content_for_header contains 'previewBarInjector' %}true{% else %}false{% endif %};
                        }
                    </script><!--Gem_Page_Header_Script-->
{% render 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "g54dikudda");
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>


</head>

<body
  id="sf-theme" style="opacity: 0;"
  class="{{ body_classes }} relative min-h-screen{% if customer %} customer-logged-in{% endif %}"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}
  {% render 'scroll-top-button' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
    <div id="cart-drawer-container"></div>
  </main>

  {% section 'footer' %}

    <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=natural-stacks.myshopify.com" defer></script>
  {% section 'mobile-sticky-bar' %}
  
  <script src="{{ 'swiper.js' | asset_url }}"></script>

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}
{% include 'revoffers' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  {% include 'subscription-theme-footer' %}
 {% include 'smile-initializer' %}

 <script async="" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=hvwgXn"></script> 
 {% render 'klaviyo-onsite-events' %}
  
<!--Gem_Page_Footer_Script-->
{% render 'gem-app-footer-scripts', GEM_FOOTER_SCRIPT: GEM_FOOTER_SCRIPT %}
<!--End_Gem_Page_Footer_Script-->
{% include 'subscribe-it-helper' %}

<!-- PAGEFLY CART HELPER - DO NOT DELETE -->
<script>
  try {
    setTimeout(function () {
      window.__pagefly_helper_store__ &&
      window.__pagefly_helper_store__.subscribe(function (res) {
        $.getJSON('/cart.json').then(cart => {
          Shopify.onItemAdded(res)
          Shopify.onCartUpdate(cart)
        });
      });
    }, 2500);
  } catch (e) {
    console.warn(e);
  }
</script>

<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "hvwgXn",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify me when available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     {% comment %} additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');", {% endcomment %}
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Rubik');",
     font_family: '"Rubik","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif !important;',
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#439fdb",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>

<script>
        
  var actCallback = function (response) {
        
    $('.contact_submit').prop("disabled", false);
        
    $('#re-captcha').remove();
        
  };
        
  var expCallback = function() {
        
    $('.contact_submit').prop("disabled", true);
        
  };
        
        
  var onloadCallback = function () {
        
    var widget = grecaptcha.render(document.getElementById("re-captcha"), {
        
      'sitekey' : "6LccYzklAAAAAAqzR6skOFdJVf7helxZt3otBqhd", // Sitekey, Retrieving from reCaptcha
        
      'theme': "light",
        
      'callback' : actCallback,
        
      'expired-callback': expCallback,
        
    });
        
  }
        
</script>
</body>
</html>

